@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Merriweather", serif !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: grey !important;
}

.navbar-nav {
    gap: 10px;
}

/* .nav-item a:hover {
    color: gray !important;
} */
.nav-link {
    transition: none;
}

.nav-link.active {
    border-bottom: 2px solid #a02323;
    color: #a02323 !important;
}

button[type='submit']:hover {
    background-color: #a02323;
    color: white !important;
}

.card-text {
    max-height: 4.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-title a {
    font-size: 1rem;
}
span 
{
    font-size: 0.7rem;
}